.Button {
    background-color: #282c34;
    border: none;
    color: white;
    padding: .75em 1.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;

    &White {
        color: #282c34;
        background: white;
        max-width: 40rem;
        margin: 0 auto;
    }
    &Primary {
        background-color: rgb(56, 56, 143);
    }
}
  