.Paragraph {
    max-width: 50rem;
    line-height: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    overflow-wrap: anywhere;
    position: relative;
    color: var(--color-text-primary);
    text-align: left;
}
.Sent {
    color: var(--color-text-primary);
    background: var(--color-secondary);
    align-self: flex-end;
}
.Received {
    background: var(--color-tertiary);
    color: var(--color-text-primary-dark);
}
  
