.Paragraph {
    max-width: 50rem;
    line-height: 2.4rem;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    overflow-wrap: anywhere;
    position: relative;
    color: white;
    text-align: left;
}
.Sent {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
}
.Received {
    background: #e5e5ea;
    color: black;
}
  
