.App {
  text-align: center;
  max-width: 72.8rem;
  margin: 0 auto;
  position: relative;

  & header {
    background-color: #181717;
    height: 10vh;
    min-height: 5rem;
    color: white;
    position: fixed;
    width: 100%;
    max-width: 72.8rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 1rem;
    box-sizing: border-box;
  }
}
.MainHeading {
  margin-left: 1rem;
  font: 2.2rem/1 EndlessBossBattle, Courier;
  text-transform: uppercase;
  letter-spacing: .1em;
  user-select: none;
}
.MainContainer {
  margin: 10vh 0;
  padding: 1rem;
  height: 80vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
}

.ChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(80vh - 2rem);
  background-color: rgb(40, 37, 53);
  position: relative;
}